*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--theme-font);
}

:root {
    --theme-color: #ccc;
    --theme-font: "Times New Roman";
}

body {
    background-color: #eee;
}

header > nav {
    display: flex;
    justify-content: left;
    gap: 20px;

    padding: 10px;
    background-color: black;

    position: relative;
}

header > nav > button {
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: inherit;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: white;

    transition: 0.3s;
}

header > nav > button:hover {
    transform: translateZ(20px) scale(1.3);
}

h1 {
    background-color: var(--theme-color);
    padding: 10px;
}

p {
    padding: 10px;
    margin: 20px auto;
    inline-size: 66ch;
    background-color: var(--theme-color)
}

p + p {
    background-color: black;
    color: white;
}

/*Menu Styles*/

h2 {
    background-color: var(--theme-color);
    border-top: 2px solid black;
}

h2 + ul {
    padding-left: 2rem;
    list-style: decimal;
}